body {
  margin-top: 100px;
  color: white;
  background-color: #2c2d2f;
}

.app {
  margin: auto;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 15px white;
}

header {
  background-color: #9a5cf4;
  border-radius: 20px 20px 0 0;
  padding: 13px 0;
}

main {
  background-color: #202022;
  height: 500px;
  padding: 10px;
  color: #fed153;
}

form {
  background-color: #ff5758;
  border-radius: 0 0 20px;
}

input {
  width: 100%;
  padding: 20px 0;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 16px;
  text-align: center;
}

button {
  border: none;
  border-radius: 5px;
  background-color: thistle;
  color: white;
  margin: 10px 0;
  padding: 15px 30px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

span {
  cursor: pointer;
}
