* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: thistle;
}

.app {
  margin: auto;
  width: 800px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px black;
  background-color: #393f49;
}

header {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.input {
  margin-bottom: 40px;
}

.input__text {
  width: 60%;
  padding: 13px 8px;
  border: none;
  border-radius: 5px;
  background-color: white;
  outline: none;
  color: #abafb3;
}

.lists {
  padding: 0;
  height: 350px;
  margin-bottom: 40px;
  color: #abafb3;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lists::-webkit-scrollbar {
  display: none;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #abafb3;
}

.list:last-child {
  border-bottom: 1px solid #abafb3;
}

.list__check__item {
  cursor: pointer;
}

.list__check {
  margin-right: 20px;
}

.list__delBtn {
  cursor: pointer;
  transition: all 300ms ease-in;
}

.list__delBtn:hover {
  color: red;
  transform: rotate(135deg);
  font-size: 18px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: thistle;
  color: white;
  padding: 13px 36px;
  outline: none;
  cursor: pointer;
}
